<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="allmylab.com" />
    <add key="ida:ClientId" value="6759f7d6-4253-4b75-9363-28218bf84835" />
    <add key="ida:RedirectUri" value="https://OBO-TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://api-allmylab.msappproxy.net/s/" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://app2.allmylab.com/s" />
  </appSettings>
</configuration>